*{
    margin:0px;
    padding:0px;
}
.bGround{
    width: 1600px;
    height: 700px;
    border: 1px solid goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg.jpg);
    background-size: 100% 100%;
}
a:hover{
    color: aquamarine;
    text-decoration: none;
}